<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <div class="h-screen w-screen bg-yellow-50 flex flex-col justify-between">
    <div>
      <div class="border bg-yellow-100 pb-10 lg:p-3">
        <header>
          {{ partial "header.html" . }}
        </header>
        <main>
          {{ block "main" . }}{{ end }}
        </main>
      </div>
    </div >
    <footer class="self-end ">
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>

</html>