{{ define "main" }}


{{/* Get those recipes that have image featured image and those posts that have summary */}}
{{ $recipes := where .Site.RegularPages ".Section" "eq" "recipes" }}
{{ $posts := where .Site.RegularPages ".Section" "eq" "posts" }}
{{ $contents := collections.Union $recipes $posts }}
{{ $content_to_display := collections.First 3 $contents.ByPublishDate.Reverse }}

{{ partial "latest-thumbnails.html" (dict "content_to_display" $content_to_display) }}

{{ partial "title.html" "Recipes"}}
{{ partial "all.html" (dict 
  "Pages" (dict "Pages" $recipes))}}

{{ partial "title.html" "Posts"}}
{{ partial "all.html" (dict 
  "Pages" (dict "Pages" $posts))}}

{{ end }}