<div class="flex">
    <h1
        class="text-3xl font-bold tracking-wide pl-3 pt-3 pb-1 bold italic font-titlefont cursor-pointer transition ease-linear hover:scale-110 duration-100">
        {{ site.Title }}</h1>
</div>
<div class="lg:grid lg:grid-cols-6 bg-yellow-150 mb-8">
    <div class="col-span-1"></div>
    <nav
        class="col-span-3 bg-yellow-200 lg:border border-y lg:rounded-full border-black text-center uppercase tracking-wider font-bold p-2 ">
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </nav>
</div>
